services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mini_crm
    ports:
      - "5432:5432"

  backend:
    build: .
    ports:
      - "8081:8081"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/mini_crm
      JWT_SECRET: supersecret
      JWT_EXPIRES_IN: 1d
      PORT: 8081
    depends_on:
      - postgres
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npm start
      "
